body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-header {
  height: 100px;
}

.app-content {
   flex: 1;
   vertical-align: middle;
}

.app-footer {
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;
}

.app-login {}

.u-m-b-lg {
  margin-bottom: 30px;
}

.app-chat-container {
  height: 80vh;
  background-color: white;
  margin-top: 5vh;
  border-radius: 10px;
  border: 1px solid gray;
}

.posts-container {
  height: 62vh;
  overflow: scroll;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.post-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-container {
  max-height: 8vh;
  padding-top: 20px;
  border-top: 1px solid gray;
  width: 100%;
}
